@import url(variables.css);


@font-face {
    font-family: "Inter";
    src: url(storage/font/Inter_18pt-Black.ttf);
}


body{
   max-width: 1400px;
   max-height: 2000px;
   background: var(--color-3);
   display: flex;
 

}
.header{
    display: flex;
    width: 900px;
    height: 150px;
    
   
}
.header h3{
   
    color: var(--color-1);
    padding-left: 27%;
    font-size: 40px;
    font-family: 'Inter';
    margin-top: 1%;
   

}
.head{
    padding-left: 55%;
    display: flex;
    gap: 10px; 
    font-family: 'Inter'; 

    
}
.head p{
    margin-left: 90px;
    padding-top: 10px;
    display: flex;
    color: var(--color-1);
    font-size: 20px;
   
    
}
.center{
    align-items: center;
    margin-left: -45%;
    padding-top: 5%;
    width: 1000px;
    text-align: center;

}
.center h1{
    font-size: 150px;
    font-family: 'Inter';
    color: var(--color-1);
    text-align: center;
}
.center p{
    color: var(--color-1);
    display: flex;
    left: 50%;
    font-size: 40px;
    font-family: 'Inter';
    
}

button {
    border: 2px solid var(--color-1); 
    border-radius: 12px;
    color: var(--color-1);
    background-color: transparent;
    padding: 20px 40px; 
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
    margin-left: 20px;
}

.img1{
    position: relative; 
    left: 50%;
    top: 20%; 

}
.page2{

    padding-top: 200px;
    margin-left: -20%;
    display: flex;
    font-family: 'Poppins';
    text-align: center;
  
   
}
.cointainNew{
    background-color: grey;
}
.home{
    position: absolute;
    margin-top: 90px;
    margin-left: -34%;
    width: 800px;
    gap:20%;
}
.page2 h3{
    color: var(--color-1);
   
    

}.page2 p{
    color: var(--color-1);

}
.page2 h2{

    color: var(--color-1);
    font-size: 40px;
}
.text{
    margin-left: 20%;
    width: 100%;  
    text-align: center;




  
    
}
.text_2 p{
font-size: 35px;


}
.text_21 p{
    font-size: 85px;
    color: var(--color-5);
    font-family: 'Poppins';
}
.text_2 h2{
    font-size: 60px;
   
    
}
.text_2 h3{
    color: var(--color-5);
    font-size: 40px;
 
}
.text_2 h4{
    color: var(--color-5);
    font-size: 40px;
   
}
.text_2 h2{
    font-size: 60px;
    
    
}
.text_3 p{
    color: var(--color-2);
    font-size: 20px;
}



.aline{
    margin-top: 25%;   
    align-content: center;
    text-align: center;
    margin-left: -100%;
    font-family: 'Poppins';

   
}   
.menu h3{

    color: var(--color-5);
    margin-top: -180px;
    font-size: 65px;


}
.menu p{
    color: var(--color-1);
    font-size: 80px;
    margin-bottom: -20px;
}
.menu{
    color: var(--color-2);
    font-size: 20px;
    text-align: center;
    margin-left: 80px;
    margin-bottom: 10px;

}
.taste{
  
    text-align: center;
    margin-left: 100px;
}

.taste h3 {
    color: var(--color-2);
    padding-bottom: -10%;
    font-size: 35px;
    text-align: center;
    
}

.page3{

    padding-top: 200px;
    margin-left: -20%;
    display: flex;
    font-family: 'Poppins';
    text-align: center;

}

#imagen{

    display: flex;
    position: absolute;
    margin-left: 700px;
    width: 450px;
}



.service{
    margin-top: 20%;
    align-content: center;
    text-align: center;
    margin-left: -100%;
    font-family: 'Poppins';
} 
  .containG {
    
    display: flex;
    gap: 5%;
    margin-left: 8%;
    padding-bottom: 10%;
    width: 90%;
    margin-top: -20px;
    height: 300px;

}
.containG h3{
    color: var(--color-2);

}

.contain1{

    width: 25%;
    height: 90%;
    background: var(--color-2);
    
  

}
.contain1 p{
    color: var(--color-1);
    font-size: 22px;
    width: 80%;
}



.contain2 p{
    color: var(--color-1);
    font-size: 22px;
}


.contain3{

    width: 25%;
    height: 90%;
    background: var(--color-2);
    
}
.contain3 p{
    color: var(--color-1);
    font-size: 22px;
}

.charact{
    color: var(--color-2);
    font-size: 20px;
    text-align: center;
    margin-left: 80px;
    
  
  

}

.charact p{
    color: var(--color-5);
    font-size: 50px;
    margin-bottom: 250px;
}

.charact h3{

    color: var(--color-1);
    margin-top: -100px;
    font-size: 65px;
   
}.page6{

    padding-top: 350px;
    margin-left: -130%;
    display: flex;
    font-family: 'Poppins';
    text-align: center;
    

}
.text_22 h3{
   
        color: var(--color-5);
        font-size: 60px; 
        margin-top: -220px; 

}
.text_22 h2{
   
    color: var(--color-5);
    font-size: 60px; 
    margin-top: -20px; 

}
.text_22 p{
   
    color: var(--color-1);
    font-size: 30px; 
    margin-top: -20px; 

}
.text_23 h3{
    font-size: 85px;
    color: var(--color-1);
    font-family: 'Poppins';
    margin-top:90px; 
}
.text_23 p{
    font-size: 25px;
    color: var(--color-1);
    font-family: 'Poppins';
    margin-top: -50px;
}


.text_34 h2{
    color: var(--color-5);
    font-size: 60px; 
  
}
.text_34 p{
    color: var(--color-1);
    font-size: 30px;
  
}


.page7{
    color: var(--color-5);
    font-size: 60px;
    text-align: center;
    margin-left: 80px;
    margin-top: -190px;


}.text_28 h3{
    font-size: 55px;
    color: var(--color-1);
    font-family: 'Poppins';
    margin-top:90px; 
}